body {
  margin:0
}

.navbar {
  height: 4em;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: darkcyan;
  color: white;
  font-weight: bold;
  padding: 0 2em;
}

.cardList {
  display: flex;
  gap: 2em;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  margin-top: 5em
}

.card {
  width: 20em;
  border: solid 1px black;
  text-align: center;
}

.cardHeader img {
width: 20em;
height: 15em;
}

.filters {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap:1em;
  margin-top: 3em;

}